name: Main

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_TAR_FILENAME: /tmp/${{ github.event.repository.name }}.${{ github.sha }}.tar
  DOCKER_API_VERSION: ${{ vars.DOCKER_API_VERSION }}

jobs:
  setup:
    runs-on: ubuntu-latest
    needs: []
    outputs:
      image_name:  ${{ steps.vars.outputs.image_name }}
      branch_name: ${{ steps.vars.outputs.branch_name }}
    steps:
      - name: Prepare outputs for workflow jobs
        id: vars
        run: |
          TAG="${GITHUB_SHA:0:7}"
          echo "image_name=${REGISTRY}/cyber-dojo/sinatra-base:${TAG}" >> ${GITHUB_OUTPUT}
          echo "branch_name=update-base-image-${TAG}"                  >> ${GITHUB_OUTPUT}


  build-image:
    runs-on: ubuntu-latest
    needs: [setup]
    outputs:
      digest: ${{ steps.get-digest.outputs.digest }}
    env:
      IMAGE_NAME: ${{ needs.setup.outputs.image_name }}
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Build docker image
        run:
          make image

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push docker image to ghcr
        run:
          docker push "${IMAGE_NAME}"

      - name: Tar Docker image
        run: |
          docker pull "${IMAGE_NAME}"
          docker image save "${IMAGE_NAME}" --output "${IMAGE_TAR_FILENAME}"

      - name: Cache Docker image
        uses: actions/cache@v4
        with:
          path: ${{ env.IMAGE_TAR_FILENAME }}
          key:  ${{ env.IMAGE_NAME }}

      - name: Setup Kosli CLI
        uses: kosli-dev/setup-cli-action@v2
        with:
          version: ${{ vars.KOSLI_CLI_VERSION }}

      - name: Make digest available to subsequent jobs
        id: get-digest
        run: |
          docker pull "${IMAGE_NAME}"          
          DIGEST=$(kosli fingerprint "${IMAGE_NAME}" --artifact-type=docker)
          echo "digest=${DIGEST}" >> ${GITHUB_OUTPUT}


  snyk-container-scan:
    runs-on: ubuntu-latest
    needs: [setup, build-image]
    env:
      SARIF_FILENAME: snyk.container.scan.json
      IMAGE_NAME:     ${{ needs.setup.outputs.image_name }}
    steps:
      - name: Retrieve Docker image from cache
        uses: actions/cache@v4
        with:
          path: ${{ env.IMAGE_TAR_FILENAME }}
          key:  ${{ env.IMAGE_NAME }}

      - name: Load Docker image
        run:
          docker image load --input "${IMAGE_TAR_FILENAME}"

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Snyk container scan
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run:
          make snyk-container-scan


  push-image-to-dockerhub:
    runs-on: ubuntu-latest
    needs: [setup, snyk-container-scan]
    env:
      IMAGE_NAME: ${{ needs.setup.outputs.image_name }}
    steps:
      - name: Retrieve Docker image from cache
        uses: actions/cache@v4
        with:
          path: ${{ env.IMAGE_TAR_FILENAME }}
          key:  ${{ env.IMAGE_NAME }}

      - name: Load Docker image
        run:
          docker image load --input "${IMAGE_TAR_FILENAME}"

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Push image to dockerhub
        run: |
          TAG="${GITHUB_SHA:0:7}"
          docker tag "${IMAGE_NAME}" cyberdojo/sinatra-base:${TAG}
          docker push cyberdojo/sinatra-base:${TAG}


  create-pr-on-downstream-repos:
    needs: [setup, build-image, snyk-container-scan, push-image-to-dockerhub]
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ needs.setup.outputs.image_name }}
      BRANCH_NAME: ${{ needs.setup.outputs.branch_name }}
    strategy:
      matrix:
        repo: [ differ, saver, dashboard, start-points-base ]
    steps:
      - uses: actions/checkout@v4
        with:
          repository: cyber-dojo/${{ matrix.repo }}
          token: ${{ secrets.BASE_IMAGE_UPGRADE }}
          fetch-depth: 0

      - name: Create branch
        run:
          git checkout -b ${BRANCH_NAME}

      - name: Edit 1st line of Dockerfile
        env:
          BASE_IMAGE: ${{ env.IMAGE_NAME }}@sha256:${{ needs.build-image.outputs.digest }}
        run: |
          cp Dockerfile Dockerfile.original
          echo "FROM ${BASE_IMAGE}" > Dockerfile
          cat Dockerfile.original | tail -n+2 >> Dockerfile
          rm Dockerfile.original

      - name: Commit
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.event.sender.login }}@users.noreply.github.com"
          git add .
          git commit --message "Dockerfile - Automated base-image update"
          git push --set-upstream origin ${BRANCH_NAME}

      - name: Create pull request
        env:
          GH_TOKEN: ${{ secrets.BASE_IMAGE_UPGRADE }}
        run:
          gh pr create
            --base main
            --head ${BRANCH_NAME}
            --title 'Merge update-base-image into main'
            --body 'Created by Github action'
